<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
  <ion-button shape="round" fill="outline"(click)="navigateToNewpage()">Outline + Round</ion-button>
</ion-content> -->

<ion-content>
  <ion-img src="../assets/homeSlice.jpeg"></ion-img>
  <div padding class="background">
    <h1 class="intro-text">Hola, soy Belen <br/>
        Co-Fundadora de LoveBellies.</h1><br/>
        
        <h1 class="intro-text">Somos la primera comunidad de <br/>
        listas de nacimiento para futuros <br/>
        padres y madres. <br/><br/>
         Quieres saber de srive  <br/>
        exactmente?</h1>

    <ion-button shape="round" color="custom" expand="block" (click)="navigateToNewpage()">Te lo explico en Messenger</ion-button>
  </div>
</ion-content>


