

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button routerLink="/home" routerDirection="forward"></ion-back-button> -->
      <ion-icon name="arrow-back" routerLink="/home" routerDirection="forward"></ion-icon>
    </ion-buttons>
    <ion-title class="custom-text-color">SALIR EN COCHE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="padding-top row">
        <div class="col">
            <div class="text-center">
                <h3 class="intro-text">Ayuda futuros padres a preparar
                lo que realmente necesitaran hasta los 3 meses de su primer bebe</h3>

                <h3 class="intro-text">Ayuda futuros padres a preparar
                  lo que realmente necesitaran hasta los 3 meses de su primer bebe</h3>

                <h3 class="intro-text">Ayuda futuros padres a preparar
                    lo que realmente necesitaran hasta los 3 meses de su primer bebe</h3>

                <ion-button shape="round" color="custom" expand="block" (click)="navigateToCategory()">OK! Empezemos ya!!!</ion-button>


            </div>
        </div>
    </div>
</ion-content>